<h2 mat-dialog-title>Ajouter un Test</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field appearance="fill">
    <mat-label>Test de Court-circuit</mat-label>
    <input matInput [(ngModel)]="data.testCourtCircuit">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Test de Fuite de Tension</mat-label>
    <input matInput [(ngModel)]="data.testFuiteTension">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Annuler</button>
  <button mat-button [mat-dialog-close]="data" (click)="onSave()" cdkFocusInitial>Enregistrer</button>
</mat-dialog-actions>
